@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/liquid-cheese.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #f1faee;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 900;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  margin: 2rem 0 3rem;
}

.small {
  color: #333;
  font-size: 1.4rem;
  margin: 1.5rem 0;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
  background-color: #f1faee;
  color: #212121;
}

form > button {
    margin-top: 3rem;
}

.form-grupo {
    width: 50%;
    position: relative;
    padding: 1.5rem 0 0;
    margin-top: 1rem;
}

.form-input {
    width: 100%;
    padding: 0.7rem 0;
    font-family: inherit;
    font-size: 1.3rem;
    color: #212121;
    outline: 0;
    border: 0;
    border-bottom: 0.2rem solid #9b9b9b;
    background: transparent;
    transition: border-color 0.2s;
}

.form-input::placeholder {
    color: transparent;
}

.form-input:placeholder-shown ~ .form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 2rem;
}

.form-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 1rem;
    color: #9b9b9b;
    transition: 0.2s;
}

.form-input:focus {
    padding-bottom: 0.6rem;
    font-weight: 700;
    border-width: 0.3rem;
    border-image: linear-gradient(to right, #F24F13, #F27F1B);
    border-image-slice: 1;
}

.form-input:focus ~ .form-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 1rem;
    color: #F24F13;
    font-weight: 700;
    transition: 0.2s;
}

.form-input:required, .form-input:invalid {
    box-shadow: none;
}

.container {
  width: 76.8rem;
  max-width: 100%;
  min-height: 48rem;
  position: relative;
  overflow: hidden;
  background: #f1faee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  border-radius: 2.5rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form-container {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.6s ease-in-out;
}

.login-container {
  width: 50%;
  left: 0;
  z-index: 2;
}

.container.esquerda-painel-active .login-container {
  transform: translateX(100%);
}

.cadastrar-container {
  width: 50%;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.container.esquerda-painel-active .cadastrar-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.sobreposicao-container {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.esquerda-painel-active .sobreposicao-container {
  transform: translateX(-100%);
}

.sobreposicao {
  width: 200%;
  height: 100%;
  position: relative;
  left: -100%;
  background: #F27F1B;
  background: -webkit-linear-gradient(to right, #F24F13, #F27F1B);
  background: linear-gradient(to right, #F24F13, #F27F1B);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #f1faee;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.esquerda-painel-active .sobreposicao {
  transform: translateX(50%);
}

.sobreposicao-painel {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  position: absolute;
  top: 0;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.sobreposicao-direita {
  transform: translateX(-20%);
}

.container.esquerda-painel-active .sobreposicao-direita {
  transform: translateX(0);
}

.sobreposicao-esquerda {
  right: 0;
  transform: translateX(0);
}

.container.esquerda-painel-active .sobreposicao-esquerda {
  transform: translateX(20%);
}
