dialog {
    position: relative;
    width: min-content;
    height:min-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    margin: 0;
    border: none;
    border-radius: 15px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.502);
}

dialog .fechar {
    position: absolute;
    top: 0.9rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

dialog .fechar:hover {
    color: red;
}

/* Formulario */

dialog .container {
    min-width: 80rem;
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 4rem 1rem 4rem;
}

dialog .container form {
    width: 100%;
}

dialog .container form .form-linha {
    display: flex;
    margin: 3.2rem 0;
}

form .form-linha .input {
    width: 100%;
    height: 4rem;
    margin: 0 2rem;
    position: relative;
}

/* Input */

.input input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.7rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

#cpf-input,
#rg-input {
    width: 60%;
}

#cidade-input,
#complemento-input {
    width: 50%;
}

#cep-input {
    width: 30%;
}

#numero-input,
#estado-input {
    width: 20%;
}

/* Label */

.input input:focus ~ label,
.input.preenchido input:valid ~ label  {
    font-size: 1.4rem;
    color: #3498db;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.input.preenchido input:invalid ~ label  {
    font-size: 1.4rem;
    color: #ff0000;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.input label {
    position: absolute;
    pointer-events: none;
    bottom: 1rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Underline */

.input .underline {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
}

.input .underline::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    background: #3498db;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.input input:focus ~ .underline::before,
.input.preenchido input:valid ~ .underline::before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.input.preenchido input:invalid ~ .underline::before {
    background: #ff0000;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

dialog button:focus {
    outline: none;
}

/* Posicionamento dos botões */

.botoes {
    display: flex;
    align-items: center;
    gap: 3rem;
}