dialog {
    position: relative;
    width: min-content;
    height:min-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    margin: 0;
    border: none;
    border-radius: 15px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.502);
}

dialog .fechar {
    position: absolute;
    top: 0.9rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

dialog .fechar:hover {
    color: red;
}

/* Formulario */

dialog .container {
    min-width: 80rem;
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 4rem 1rem 4rem;
}

/* Formulario */

dialog .container form {
    width: 100%;
    padding: 1.5rem 0;
}

dialog .container form .form-linha {
    display: flex;
    margin: 1.5rem 0;
}

form .form-linha .input {
    width: 100%;
    margin: 0 1rem;
}

/* Input */

.input label {
    display: block;
    font-weight: 500;
    margin: 0.5rem;
    font-size: 1.4rem;
}

.input input {
    width: 100%;
    height: 5rem;
    padding: 1.2rem;
    font-size: 1.6rem;
    border: 2px solid #d1d3d4;
    border-radius: 6px;
    color: #212121;
    background-color: transparent;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.input input:focus {
    outline: none;
    border-color: #48CAE4;
}

.input input:disabled {
    cursor: not-allowed;
    background-color: #f2f2f2;
    box-shadow: none;
    opacity: 0.6;
}

.input.botao {
    position: relative;
}

.input .pesquisa-botao {
    width:3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.6rem;
    color: #212121;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.input .pesquisa-botao:hover {
    opacity: 1;
}

#nome-input {
    width: 80%;
}

#cpf-input,
#rg-input {
    width: 60%;
}

#data_nascimento-input,
#telefone-input {
    width: 50%;
}

#cidade-input,
#cep-input,
#titulo-input,
#logradouro-input,
#via-input {
    width: 30%;
}

#numero-input {
    width: 25%;
}

#grupo-input,
#estado-input {
    width: 10%;
}

dialog button:focus {
    outline: none;
}

/* Posicionamento dos botões */

.botoes {
    display: flex;
    align-items: center;
    gap: 3rem;
}