main .container {
    width: 100%;
    height: 100%;
}

/* Tabela */

.container .tabela {
    width: 100%;
    display: table;
}

@media screen and (max-width: 870px) {
    .tabela {
        display: block;
    }
}

/* Linhas */

.linha {
    display: table-row;
    background: #f6f6f6;
    cursor: pointer;
}

.linha:nth-of-type(odd) {
    background: #e9e9e9;
}

/* Header */

.linha.header {
    font-weight: 900;
    color: #fff;
    background: #05344a;
}

@media screen and (max-width: 870px) {
    .linha {
        padding: 1.4rem 0 0.7rem;
        display: block;
    }

    .linha.header {
        padding: 0;
        height: 0.6rem;
    }

    .linha.header .celula {
        display: none;
    }

    .linha .celula {
        margin-bottom: 1rem;
    }

    .linha .celula::before {
        content: attr(data-title);
        margin-bottom: 0.3rem;
        min-width: 9.8rem;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

.celula {
    padding: 0.6rem 1.2rem;
    display: table-cell;
}

@media screen and (max-width: 870px) {
    .celula {
        padding: 0.2rem 1.6rem;
        display: block;
    }    
}